<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Quiz Game{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            {% block additionnal_stylesheets %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
                    <div class="container"><a class="navbar-brand" href="{{ path('accueil') }}">Quizy game</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse"
                             id="navcol-1">
                            <ul class="nav navbar-nav mr-auto">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('quiz') }}">Les quiz</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('a_propos') }}">à propos</a></li>
                            </ul>
                            <span class="navbar-text actions">
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <a class="login" href="{{ path('deconnexion') }}">Déconexion</a>
                                    <a class="btn btn-primary action-button" role="button" href="{{ path('profile') }}">Profile</a>
                                {% else %}
                                    <a class="login" href="{{ path('connexion') }}">Connexion</a>
                                    <a class="btn btn-light action-button" role="button" href="{{ path('inscription') }}">Inscription</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </nav>
            {% endblock %}

            <section id="content">
                {% block content %}{% endblock %}
            </section>
        {% endblock %}
        {% block javascripts %}
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
</body>
</html>
