{% extends 'base.html.twig' %}

{% block additionnal_stylesheets %}
    <link rel="stylesheet" href="css/Card-Group1-Shadow.css">
    <link rel="stylesheet" href="css/Navigation-with-Button.css">
{% endblock %}

{% block content %}
    <div class="container" id="cards">
        <div class="row">
            {% for quiz in quizzes %}
                <div class="col-lg-4">
                    <div class="card mb-4 box-shadow rounded-0"><img class="card-img-top w-100 d-block rounded-0" src="{{ asset('uploads/' ~ quiz.thumbnail) }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ quiz.nom }}</h4>
                            <h6 class="text-muted card-subtitle mb-2">{{ quiz.sousTitre }}</h6>
                            <p class="card-text">{{ quiz.description }}<br><br><br></p>
                            <form action="/play" method="get">
                                <input name="id" type="hidden" value={{ quiz.id }}>
                                <input type="submit" value="Jouer">
                            </form>
                            <form method="post">
                                <input type="button" value="Ajouter une question">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
